@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  
          /** TEXT GRADIENT */ color: #F45E84; background-image: -webkit-linear-gradient(45deg, #F45E84 19%, #757FF2 64%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        
}
.gradient-text-2 {
  /** TEXT GRADIENT */
  color: #4d4cfd;
  background-image: -webkit-linear-gradient(45deg, #4d4cfd 11%, #99f8d0 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
